<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <script src="../static/bootstrap/js/jquery-3.4.0.js"></script>
    <script src="../static/bootstrap/js/popper.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>

    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap/css/styles.css">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <!-- Brand/logo -->
    <a style="color: #0a0909" class="navbar-brand" href="#">Denis Kathurima</a>

    <!-- Links -->
    <ul style="font-family: 'Agency FB',serif; font-weight: bolder; font-size: x-large" class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link text-white" href="index.html">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="skills.html">Skills</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="projects.html">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="resume.html">Resume</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="contact.html">Contact</a>
        </li>
    </ul>
</nav>
<br> <br>
<!--start of change-->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Hello Everyone,</h3>
            <p class="introduction" style="font-size: 20px">I'm a tech fanatic with a passion for coding and problem solving.
                I use my Front End skills to develop user friendly interfaces that any user can easily interact with.</p>
            <p class="introduction" style="font-size: 20px">I also do Back End development to make sure the problem is fully solved. As technology continues to advance everyday,
                I am eager to learn new trends to always keep me competent in the industry.</p> <br>
            <a href="https://www.linkedin.com/in/denis-kathurima-1b416a155/" target="_blank"><button type="button" class="btn btn-primary">LinkedIn</button></a>
                <a href="https://github.com/deniskathurima" target="_blank"><button type="button" class="btn btn-primary">github</button></a>
        </div>
        <div class="col-md-6">
            <img class="rounded-circle"  src="../static/images/pic9.jpg" alt="" style="width: 400px; height: 400px;">
        </div>
    </div>
</div>
<!--End of change-->
<br>

<div class="container">
    <footer class="text-center" style="color: #3F729B">
        <p> ©Copyright. Denis Kathurima 2024</p>
    </footer>
</div>


</body>
</html>