<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <script src="../static/bootstrap/js/jquery-3.4.0.js"></script>
    <script src="../static/bootstrap/js/popper.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>

    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap/css/styles.css">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <!-- Brand/logo -->
    <a style="color: #0a0909" class="navbar-brand" href="#">Denis Kathurima</a>

    <!-- Links -->
    <ul style="font-family: 'Lucida Consol',serif; font-weight: bolder; font-size: x-large" class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link text-white" href="index.html">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="skills.html">Skills</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="projects.html">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="resume.html">Resume</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="contact.html">Contact</a>
        </li>
    </ul>
</nav>
<br>

<h3 style="font-family: Georgia,serif; color: #040505" class="text-center" >Completed and Ongoing Projects.</h3>
<div  class="container">
    <div style="background: #988fd7" class="jumbotron">
        <img style="height: 200px; width: 300px" src="../static/images/project1.jpg" alt="" class="img-fluid">
        <h3 style="font-family: Georgia,serif; color: #040505">Chaohu Haitian Shipbulding Co Ltd</h3>
            <p style="font-family: Georgia,serif; color: #040505">This is website for Chaohu Haitian Shipbulding Co Ltd.</p>
    </div>

    <div class="container">
        <footer class="text-center" style="color: #3F729B">
            <p> ©Copyright. Denis Kathurima 2024</p>
        </footer>
    </div>


</div>

</body>
</html>